# Repeatable telescope view. Missing keys use documented defaults.
version = 1
rs = 1
disk_inner = 3
disk_outer = 11
disk_tilt = 0
disk_azimuth = 0
emissivity = 1
star_seed = 441991
quality = 1
steps = 256
max_distance = 2000
ev100 = 9.7
camera_position = 0 33.2659 156.5036
camera_rotation = -0.10452846 0 0 0.9945219
movement_speed = 16
